#hostPage {
    display: flex;
    /*gap: 15px;*/
}

iframe {
    border: none;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 4px gray;
}

main#node {
    margin-left: 20px;
    gap: 40px;
}

main section:first-child {
    width: 50%;
}

#overview-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    width: 750px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

header {
    display: flex;
    justify-content: space-between;
}

#overview-main h1 {
    margin-left: 20px;
    /*margin-top: 50px;*/
    font-size: 35px;
}

#settings {
    margin-top: 50px;
    margin-right: 200px;
    display: flex;
    gap: 30px;
    align-items: center;
    height: max-content;
}

.fle-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#select-div{
    box-shadow: 0 4px 4px var(--primary-light) !important;
    border: 1px solid var(--primary-light);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

select {
    outline: none;
    /*padding: 10px;*/
    cursor: pointer;
    border: none;
    border-radius: inherit;
    background-color: inherit;
}
