nav {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 4px black;
    width: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

nav h1 {
    color: var(--primary-dark);
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

nav div {
    border: 1px solid var(--primary-light) ;
    width: 230px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

#bottom-bar-top {
    margin-top: auto;
}

#bottom-bar-bottom{
    margin-bottom: 20px;
}
