/* Définition des couleurs */
:root {
  --primary-light: #FAD0BA;
  --primary-dark: #ED671D;
  --card-header: #D2D2D2;
  --green-bright: #04FA75;
  --alert-info: #7499FF;
  --alert-warning: #FFC859;
  --alert-medium: #FFA059;
  --alert-high: #E97659;
  --alert-disaster: #E45959;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 4px gray;
  background-color: white;
}

.icon {
  width: 20px;
  height: 20px;
}

.App {
  background-color: #F8F8F8;
  min-height: 100vh;
  width: 100vw;
}